.cc-label{
    transition: 0.5s all ease-in-out;
    padding-left: 45px;
    position: relative;
    margin: 3px 0;
    &:hover{
        background-color: rgba(0, 0, 0, 0.05);
    }
    &::before{
        content: "";
        width: 20px;
        height: 20px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: #fff;
        border-radius: 4px;
        position: absolute;
        left: 10px;
        top: 22px;
    }
}

input[type="radio"]{
    &:checked{
        + label{
            &::before{
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}